%h3 Tehnologii de retea
%ul
  %li
    = link_to "Diffie Hellman example", home_path(:diffie_hellman)
  %li
    = link_to "Merkle Hellman example", '#'
  %li
    = link_to "QR code", home_path(:qr_code)
